{% comment %}
  This is the main menu for the theme

  @param menu LinkedList
    The menu handle to look up.

  @param blocks Array
    Array of blocks possibly containing meganav information

{% endcomment %}

{% assign menu_list = linklists[menu].links %}
{% assign menu_title = linklists[menu].title %}
<style>
  nav>ul>li:first-child span.img-icon {
    display: none !important;
}
</style>
<ul
  class="navmenu navmenu-depth-1"
  data-navmenu
  {% if menu_title %}aria-label="{{ menu_title }}"{% endif %}
>
  {% for menu_item in menu_list %}
    {% assign show_subnav = false %}
    
    {% assign show_meganav = false %}
    {% assign shopify_attributes = null %}
    {% assign meganav_block = null %}
    {% if blocks.size > 0 %}
      {% for block in blocks %}
        {% if block.type == 'meganav_images' or block.type == 'meganav_sidenav' %}
          {% assign meganav_trigger = block.settings.meganav_trigger | handle | strip %}
          {% assign sub_menu = block.settings.menu %}
        {% elsif block.type == 'multi_column_menu' %}
          {% assign meganav_trigger = block.settings.menu_trigger | handle | strip %}
        {% endif %}
        {% if menu_item.handle == meganav_trigger and linklists[sub_menu].links.size > 0 %}
          {% assign show_meganav = true %}
          {% assign shopify_attributes = block.shopify_attributes %}
          {% assign meganav_block = block %}
        {% elsif menu_item.title == meganav_trigger %}
          {% assign meganav_block = block %}
        {% endif %}
      {% endfor %}
    {% endif %}
    
   {% assign show_megamenu = menu_item.title | handleize %}  
    {% if menu_item.links.size > 0 or meganav_block.settings.menu ==  show_megamenu %}
      {% assign show_subnav = true %}       
    {% endif %}
    
    {%- capture navmenu_item_classes -%}
      navmenu-item
      {% unless show_meganav %}
        navmenu-basic__item
      {% endunless %}
      {% if show_subnav %}
        navmenu-item-parent
        {% if show_meganav %}
          navmenu-meganav__item-parent
        {% else %}
          navmenu-basic__item-parent
        {% endif %}
      {% endif %}
      navmenu-id-{{ menu_item.handle }}
    {%- endcapture -%}

    <li
      class="{{ navmenu_item_classes | strip_newlines }}"
      {% if show_meganav %}
        data-navmenu-meganav-trigger
        data-navmenu-meganav-type="{{ meganav_block.type | replace: '_', '-' }}"
      {% endif %}
      {% if show_subnav %}data-navmenu-parent{% endif %}
      {{ shopify_attributes }}
    >
    
    {% capture manu-tag %}
      <details data-navmenu-details>
        <summary class="
          navmenu-link
          navmenu-link-depth-1 navmenu-link-parent{% if menu_item.active %} navmenu-link-active{% endif %}"
          aria-haspopup="true"
          aria-expanded="false"
          data-href="{{ menu_item.url }}">
          {% assign menu-icon = menu_item.title | handleize %}
        {% capture  imagePath %}{{ menu-icon | append: ".png" | file_url }}{% endcapture %}
         {% if imagePath != blank %}           
           <span  class="img-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="{{ imagePath }}" alt="nav-icon" /></span>
         {% endif %}
        {{ menu_item.title }}
    
        {% for block in blocks %}
          {% assign show_subnavs = false %}          
          {% if menu_item.title == linklists[block.settings.menu].title %}
            {% assign show_subnavs = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if linklists[menu_item.handle] != blank or show_subnavs %}
          <span
            class="navmenu-icons"
            data-navmenu-trigger
          >
            {% render 'icon-chevron-down-small' %}
          </span>
        {% endif %}
      </summary>
      {% if show_meganav %}
        {% case meganav_block.type %}
          {% when 'multi_column_menu' %}
            {%
              render 'multi-column-menu',
              menu: menu_item,
              block: meganav_block,
            %}
          {% when 'meganav_images' %}
            {%
              render 'meganav-standard',
              menu: menu_item,
              block: meganav_block,
            %}
          {% when 'meganav_sidenav' %}
            {%
              render 'meganav-sidenav',
              menu: meganav_block.settings.menu,
              block: meganav_block,
            %}
        {% endcase %}
        {% elsif show_subnav %}
          {%
          render 'navlist',
          menu_list: linklists[menu_item.handle].links,
          menu_title: menu_title,
          depth: 2,
          max_depth: 3,
          show_arrows: true,
          aria_expanded: false,
          is_mobile: false,
        %}
        {% endif %}
      </details>
    {% endcapture %}
    {% capture manu-tag-link %}
      <a class="
          navmenu-link
          navmenu-link-depth-1{% if menu_item.active %} navmenu-link-active{% endif %}"
          href="{{ menu_item.url }}">
        {% assign menu-icon = menu_item.title | handleize %}
        {% capture  imagePath %}{{ menu-icon | append: ".png" | file_url }}{% endcapture %}
         {% if imagePath != blank %}           
           <span  class="img-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="{{ imagePath }}" alt="nav-icon" /></span>
         {% endif %}
        {{ menu_item.title }}        
      </a>
    {% endcapture %}    
      {% if show_subnav %}
        {{ manu-tag }}
      {% else %}
          {{ manu-tag-link }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
