
{% if handle != 'authenticator' %}
 
  <!doctype html>
      <html class="no-js no-touch" lang="{{ request.locale.iso_code }}">
        <head>
          {% render 'head-content' %}
          <!-- Start CustomFit.ai Intelligent Code --><!-- DONOT EDIT (including the outer comments) -->
          <script type="text/javascript" id="customfitpreinit" data-cfasync="false" >!function(t,e,i,s){var n=e.getElementById("customfitpreinit");if(n){n.insertAdjacentHTML("beforebegin",'<style type="text/css">.customfit-invisible-preinit-block{visibility:hidden !important; opacity:0 !important}</style>');var c=document.querySelector("html");c.className=c.className+" customfit-invisible-preinit-block",setTimeout(function(){c.className=c.className.replace(/customfit-invisible-preinit-block/g,"")},5e3)}}(window,document);</script>
          <script type="load" id="customfitinit" d-src="https://wellversed.in/cdn/shop/files/cf-js-sdk-min.js?v=1730726224" onerror='!function(e,t,i,s){var c=t.getElementsByTagName("script")[0],o=t.createElement("script");o.id="customfitinit",o.setAttribute("crossorigin","*"),o.async=!0,o.src="https://sdk.customfit.ai/9f4cc880-9526-11ef-9d32-51a351887793/cf-js-sdk-min.js",o.type="text/javascript",c.parentNode.insertBefore(o,c),o.onerror=function(){var e=t.getElementById("customfit-invisible-preinit-block");e&&e.parentNode.removeChild(e)}}(window,document);'></script><link rel="preconnect" href="https://api.customfit.ai" crossorigin /><!-- End CustomFit.ai Intelligent Code -->{% render 'thunder-injects' %}
  
                  <!-- Gokwik theme code start -->
    <link rel="dns-prefetch" href="https://pdp.gokwik.co/">
    <link rel="dns-prefetch" href="https://api.gokwik.co">
      {% render 'gokwik' %}
   <!-- Gokwik theme code End -->
          
    <script type="load" d-src="https://www.googletagmanager.com/gtag/js?id=G-C3RW68J83D"></script>
    <script type="load">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config','G-C3RW68J83D',{ 'groups': 'GA4'});
  </script>
  
    <!-- Added by AVADA SEO Suite -->
    {% include 'avada-seo' %}
    <!-- /Added by AVADA SEO Suite -->
        <script>
          window.Store = window.Store || {};
          window.Store.id = {{ shop.id }};
         </script>
          <meta charset="utf-8">
          <meta http-equiv="x-ua-compatible" content="IE=edge">
          {% if page_description != blank %}
            <meta name="description" content="{{ page_description | escape }}">
          {% endif %}
          <meta name="viewport" content="width=device-width">
          <link rel="preconnect" href="https://cdn.shopify.com">
          <link rel="preconnect" href="https://fonts.shopifycdn.com">
          <link rel="preconnect" href="https://v.shopify.com">
          <link rel="preconnect" href="https://cdn.shopifycloud.com">
          
          <link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
          <link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
        
          <link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
   {% if template == 'index' %}
     <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "What are the best supplements for bodybuilding beginners?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "For beginners, it is important to focus on a balanced diet first. It is not advised to start taking supplements without expert supervision. However, if you are going for regular muscle training or power exercise, then protein powder and creatine can be your best buddies. You may also keep a check on your carb intake by replacing normal wheat chapati with keto flour chapati."
        }
      },
      {
        "@type": "Question",
        "name": "Where can I safely buy genuine sports supplements online?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "You can safely order the best quality, authentic fitness supplements online from Wellversed. Whey protein, muscle gain, pre/post-workout essentials, and any other nutritional supplement you need, Wellversed is India’s trusted one-stop online shop for supplements."
        }
      },
      {
        "@type": "Question",
        "name": "What are the benefits of taking gym supplements?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "When we exercise, our bodies utilise carbohydrates to form energy. After the carbohydrates are burnt completely, our body begins to break down fat for fuel. If the physical activity is continued after that, our body begins to break down skeletal muscle protein for glucose production. Rigorous physical activities like weight training and high-intensity workouts cause structural damage to muscle fibres. This is where the role of supplements comes into play. Best bodybuilding and fitness supplements are designed to provide energy and aid endurance throughout a workout."
        }
      },
      {
        "@type": "Question",
        "name": "How do I choose the right fitness supplements for my workout regimen?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Workout supplements enhance exercise performance for high-intensity, strenuous physical activity. However, a healthy diet with adequate carbohydrates, protein, and water is also necessary to fuel the body for moderate amounts of physical activity. You should consult with a doctor before incorporating any sports supplement into your exercise routine and discuss any potential problems, considering your medical conditions."
        }
      }
    ]
  }
  </script>
  {%- endif -%}
            {% if template == 'collection' and collection.handle == 'pre-workout' %}
      <!-- FAQ Schema JSON-LD -->
      <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {
            "@type": "Question",
            "name": "Is pre-workout good for health?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "The key ingredient of pre-workout is caffeine, which is not necessarily a bad thing. If you take the right amount of dosage, then pre-workout gives a good energy boost to your body."
            }
          },
          {
            "@type": "Question",
            "name": "Can taking pre-workout supplements improve workout performance?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Pre-workouts play an important role in improving energy levels and providing muscle recovery. They can be a boon to athletes, fitness enthusiasts, and bodybuilders who take up advanced training to enhance their sports performance."
            }
          },
          {
            "@type": "Question",
            "name": "Can I take pre-workout supplements every day?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "If you work out every day, you should probably take pre-workout once a day and always be sure of the dosage recommended by a certified trainer."
            }
          }
        ]
      }
      </script>
    {% endif %}
    {% if template == 'collection' and collection.handle == 'proteins' %}
      <!-- FAQ Schema JSON-LD -->
      <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {
            "@type": "Question",
            "name": "Is it safe to consume protein daily?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Protein shakes can be great in helping you reach your fitness goals. Drinking a protein shake daily can be a good choice if you are working out daily. So, depending on your activity level, your protein requirements may vary. It’s better to consult your trainer or a dietician before fixing the dose."
            }
          },
          {
            "@type": "Question",
            "name": "How much protein can I consume every day?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "For a healthy body, it is recommended to take around 0.8 grams per kg of body weight. It boosts the body’s recovery capacity after exercise."
            }
          },
          {
            "@type": "Question",
            "name": "What is the whey protein price in India for 1kg?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "One thing you must remember when you buy whey protein online in India is that its price depends on the quality of its ingredients. The price of whey protein in India for 1 kg can be between Rs.1000 and Rs.5000. Check the other ingredients as well and read the reviews before finalising the purchase."
            }
          },
          {
            "@type": "Question",
            "name": "Do I need to take protein powder?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Everybody must include a clean, plant-based protein supplement in their regular diet. As we age, it becomes important for our bodies to have an added source of protein. Whey protein by YouWeFit is the best choice in India because of its powerful ingredients and no side effects of bloating."
            }
          }
        ]
      }
      </script>
    {% endif %}
  
            {% if template == 'collection' and collection.handle == 'electrolytes' %}
      <!-- FAQ Schema JSON-LD -->
      <script  type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {
            "@type": "Question",
            "name": "What is electrolyte powder good for?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Electrolytes typically contain a charge that is essential for a wide range of bodily functions, including muscle & nerve function, fluid balance, and blood pressure."
            }
          },
          {
            "@type": "Question",
            "name": "Why do athletes need electrolyte supplements?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Electrolytes, in the form of powders or drinks, are consumed by athletes before, during, and after the workout session. Some of the reasons are to maintain the body’s fluid levels and boost athletic performance."
            }
          },
          {
            "@type": "Question",
            "name": "Which electrolyte drink is the best for hydration?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "If you are looking for an electrolyte drink ideal for hydration, especially after your workout, you can check out Wellversed’s Wellcore Electrolyte in the unflavoured variation. Without any added flavours or sugars, this electrolyte supplement boosts hydration instantly."
            }
          },
          {
            "@type": "Question",
            "name": "Are there any side effects of sports energy drinks?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Young and active athletes who workout on a daily basis will experience no side effects upon consuming sports energy drinks, in the form of electrolyte supplements."
            }
          }
        ]
      }
      </script>
    {% endif %}
          
          <script type="load"> 
          /* >> TriplePixel :: start*/
          window.TriplePixelData={TripleName:"wellversed-health.myshopify.com",ver:"2.12",plat:"SHOPIFY",isHeadless:true},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","text/plain")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1,P))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,a){return void 0===a&&(a=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(a)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,plat:A.TriplePixelData.plat,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://whale.camera/live/dot.txt",5)))}}("","TriplePixel",localStorage);
          /* << TriplePixel :: end*/
          </script>
          <script type="load"> 
            var variantId,quantity;function get_var_qty(button){variantId=button.getAttribute("data-variant-id");var quantityInput=$(".quantity-selector__input"),quantity2=parseInt(quantityInput.val())||1;console.log("variantId is",variantId),console.log("Quantity is",quantity2),TriplePixel()}TriplePixel("AddToCart",{item:variantId,q:quantity});
          </script>
                {% comment %}  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>{% endcomment %}
       
    {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          
      
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css">
          {% endcomment %}
    
          <title>
            {{- page_title -}}
      
            {%- if current_tags -%}
              {% capture cat_array %}{%- render 'advanced-tag-loop' -%}{% endcapture %}
              {% assign cat_array = cat_array | split: '|' %}
              {% assign title_tags = '' %}
              {% assign meta_tags = current_tags | join: ', ' %}
              {%- for tag in current_tags -%}
                {% assign is_advanced_tag = false %}
                {% assign cat = tag | split: '_' | first %}
      
                {%- unless cat == tag -%}
                  {%- if cat_array contains cat -%}
                    {% assign is_advanced_tag = true %}
                    {% assign title_tags = title_tags | append: ', ' | append: tag | replace_first: '_', ': ' %}
                  {%- endif -%}
                {%- endunless -%}
      
                {%- unless is_advanced_tag -%}
                  {% assign title_tags = title_tags | append: ', ' | append: tag %}
                {%- endunless -%}
              {%- endfor -%}
              {{ 'general.title.tags' | t: tags: title_tags | remove_first: ', ' }}
            {%- endif -%}
      
            {%- if current_page != 1 -%}
              {{- 'general.title.page' | t: page: current_page -}}
            {%- endif -%}
      
            {%- unless page_title contains shop.name -%}
              {{- 'general.title.shop' | t: shop: shop.name -}}
            {%- endunless -%}
          </title>
        
          <script type="load" d-src="{{ 'jquery.min.js' | asset_url }}"></script>
      
          {% render 'favicon' %}
      
          {% if template contains 'collection' and current_tags %}
            <meta name="robots" content="noindex" />
            <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
          {% else %}
            <link rel="canonical" href="{{ canonical_url }}" />
          {% endif %}
      
          
      
          {% assign twitter_handle = settings.social_twitter | split: 'twitter.com/' | last %}
          {%
            render 'social-meta-tags',
            twitter_handle: twitter_handle
          %}    
          <link rel="preload" href="{{ settings.type_menu | font_url }}" as="font" crossorigin="anonymous">
          <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
          <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
          <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
          
  <!-- custom bootstrap css js added -->
          <link d-href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
          <script type="load" d-src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!-- custom bootstrap css js added -->
  
  
          <!--hide the header and footer on template  -->
         
  
          {% comment %}
            <script src="{{ 'custom.js' | asset_url }}" defer></script>
      
          {% endcomment %}
      
          <script type="lload" d-src="{{ 'slick.js' | asset_url }}"></script>
          
             <script type="load" d-src="{{ 'custom-code.js' | asset_url }}"></script>
      
      <script type="lload" d-src="{{ 'custom.js' | asset_url }}"></script>
        
          <script type="lload" d-src="{{ 'wishlist_nodeify.js' | asset_url }}"></script>
      <!--     <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
          <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> -->
      
          {%- comment -%}BEGINNING OF FlashSpeed. DO NOT EDIT! Autogenerated by FlashSpeed. ANY CHANGES WILL BE OVERWRITTEN AND/OR CAN BREAK THEME.{%- endcomment -%}
  {% assign pagespeed_template_suffix_liquid = template.suffix | append: ".liquid" %}
  {% assign pagespeed_page_type = template.name | replace: template_suffix_liquid, "" %}
  {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
    {{ content_for_header }}
  {%- else -%}
    {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
    {{ content_for_header2 | replace: ' async="async" ', ' type="load" ' | replace: ' defer="defer" ', ' type="load" ' | replace: " src=", " d-src="| replace: "DOMContentLoaded", "xDOMContentLoaded" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('xDOMContentLoaded', asyncLoad, false);" | replace: "addEventListener('load', prefetchAssets);", "addEventListener('xDOMContentLoaded', prefetchAssets);" | replace: "type='text/javascript' async=''", "type='load' " | replace: 'type="module" d-', 'dxt="module" type="load" d-' }}
    <script>var trekkie=[];trekkie.integrations=!0;window.BOOMR={},window.BOOMR.version=true;</script>
  {%- endif -%}
  {%- comment -%}END OF FlashSpeed. {%- endcomment -%}
      
          {{ 'theme.css' | asset_url | stylesheet_tag }}
      
          {% comment %}Inject theme-object begin{% endcomment %}
          <script>
            window.Theme = window.Theme || {};
            window.Theme.version = '8.1.0';
            window.Theme.name = 'Empire';
            window.Theme.routes = {
              "root_url": "{{ routes.root_url }}",
              "account_url": "{{ routes.account_url }}",
              "account_login_url": "{{ routes.account_login_url }}",
              "account_logout_url": "{{ routes.account_logout_url }}",
              "account_register_url": "{{ routes.account_register_url }}",
              "account_addresses_url": "{{ routes.account_addresses_url }}",
              "collections_url": "{{ routes.collections_url }}",
              "all_products_collection_url": "{{ routes.all_products_collection_url }}",
              "search_url": "{{ routes.search_url }}",
              "cart_url": "{{ routes.cart_url }}",
              "cart_add_url": "{{ routes.cart_add_url }}",
              "cart_change_url": "{{ routes.cart_change_url }}",
              "cart_clear_url": "{{ routes.cart_clear_url }}",
              "product_recommendations_url": "{{ routes.product_recommendations_url }}",
            };
          </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SearchAction",
        "target": "https://wellversed.in/{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    </script>
  
   <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Wellversed Health Private Limited",
    "alternateName": "Wellversed",
    "url": "https://wellversed.in/",
    "logo": "https://wellversed.in/cdn/shop/files/Wellversed_Logo_for_Website_Header_resized_979x200.png",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "9319157249",
      "contactType": "customer service",
      "areaServed": "IN",
      "availableLanguage": ["en","Hindi"]
    },
    "sameAs": [
      "https://www.facebook.com/wellversed.in",
      "https://www.instagram.com/wellversedhealth/"
    ]
  }
  </script>
   {% if template == 'index' %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/", 
    "@type": "BreadcrumbList", 
    "itemListElement": [{
      "@type": "ListItem", 
      "position": 1, 
      "name": "Home",
      "item": "{{ shop.url }}"  
    }
    {% if collection %}
    ,{
      "@type": "ListItem", 
      "position": 2, 
      "name": "{{ collection.title | escape }}",
      "item": "{{ collection.url | escape }}"  
    }
    {% elsif product %}
    ,{
      "@type": "ListItem", 
      "position": 2, 
      "name": "{{ product.title | escape }}",
      "item": "{{ product.url | escape }}"  
    }
    {% endif %}
    ]
  }
  </script>
  {% endif %}  
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "ItemList",
    "itemListElement": [
      {% for product in collections.all.products limit: 10 %}
      {
        "@type": "ListItem",
        "position": {{ forloop.index }},
        "name": "{{ product.title | escape }}",
        "image": "{{ product.featured_image | product_img_url: 'large' }}",
        "url": "{{ product.url | escape }}"
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
  </script>
  
  
          <script type="load">
             $('[data-variant-id]').on('click',function(){
                  if($(this).attr('href')){
                    window.location.href = '/cart';
                  }else{
                    
                  setTimeout(()=>{
                $(this).attr('href','/cart')
               var data_id =  $(this).attr('data-variant-id')
                    $('[data-variant-id='+data_id+']').addClass('go-to-cart-class data-variant-id')
      $('[data-variant-id='+data_id+']').html(`<a href="/cart" class="cart_success" >  Go to cart 
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <g id="Complete">
                <g id="arrow-right">
                <g>
                <polyline data-name="Right" fill="none" id="Right-2" points="16.4 7 21.5 12 16.4 17" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                <line fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="2.5" x2="19.2" y1="12" y2="12"></line>
                </g>
                </g>
                </g>
              </svg> </a>`)
        cart_up_date()
                    },1000)
                  }
      })
          </script>
        
  <script id='fm-source-script'>let FreshMarketerSourceMap={}; // This wil be single source of truth for all the operations from MAS TO SHOPIFY 
        
  // For Loading the customer information     
  {%if customer %}
    FreshMarketerSourceMap.currentCustomer = {
      id: '{{ customer.id }}',
      'name': '{{ customer.name }}',
      'email': '{{ customer.email }}',
      'mobile': '{{ customer.phone }}',
      'first_name': '{{ customer.first_name }}',
      'last_name': '{{ customer.last_name }}',
      'total_orders': {{ customer.orders_count }},
      'last_order': '{{ customer.last_order }}',
      'total_spent': {{ customer.total_spent }},
      'address_list': {{ customer.addresses | json }},
      'accepts_marketing': {{ customer.accepts_marketing }}
  }
  {% endif %}
  
  // For Loading the Current Product  information          
  {%if product %}
  let FMproduct = {{ product | json }};
  FMproduct.url = "{{ shop.secure_url }}{{ product.url }}";
  FMproduct.price = {{ product.price }}/100;
  FreshMarketerSourceMap.currentProduct=FMproduct
  {% endif %}    
  
  // For Loading the Shopify CART Product  information          
  let shopifyCartEventData = {{ cart | json }};
  
  //For Getting Collection associated with Product
  
  {% for cartItem in cart.items  %}
      {%- assign FMmyProduct = cartItem.product -%}
      var FMmyProductRef={{FMmyProduct|json}}
     {%- assign FMmyProductCollections = FMmyProduct.collections -%}
     var FMmyProductCollectionsRef={{FMmyProductCollections|json}}
  
      for(let i=0;i<shopifyCartEventData.items.length;i++){
          if(shopifyCartEventData.items[i].product_id===FMmyProductRef.id){
  
          let FMcollList=[]
          for(let j=0;j<FMmyProductCollectionsRef.length;j++){
            FMcollList.push(FMmyProductCollectionsRef[j].title)
          }
          shopifyCartEventData.items[i].collections=FMcollList
          
         }
     }
  {% endfor %}
  FreshMarketerSourceMap.shopifyCartEventData=shopifyCartEventData; 
  FreshMarketerSourceMap.shopName = "{{ shop.name }}"</script>
  
  <script type="load" d-src="https://www.googletagmanager.com/gtag/js?id=G-C3RW68J83D"></script>
  <script type="load">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('set', 'linker', {'domains': ['checkout.getsimpl.com']});
    gtag('js', new Date());
    gtag('config', 'G-C3RW68J83D');
  </script>
    <!-- Add to Cart Code -->
          
  {% comment %}
    <script type="load">
      snaptr('track', 'ADD_CART', {
        'price': INSERT_PRICE,
        'currency': 'INSERT_CURRENCY',
        'item_ids': ['INSERT_ITEM_ID_1', 'INSERT_ITEM_ID_2'],
        'item_category': 'INSERT_ITEM_CATEGORY',
        'number_items': INSERT_NUMBER_ITEMS,
        'uuid_c1': 'INSERT_UUID_C1',
        'user_email': 'INSERT_USER_EMAIL',
        'user_phone_number': 'INSERT_USER_PHONE_NUMBER',
        'user_hashed_email': 'INSERT_USER_HASHED_EMAIL',
        'user_hashed_phone_number': 'INSERT_USER_HASHED_PHONE_NUMBER'
      });
    </script>
  
    <!-- Page View Code -->
    <script type="load">
      snaptr('track', 'PAGE_VIEW', {
        'item_ids': ['INSERT_ITEM_ID_1', 'INSERT_ITEM_ID_2'],
        'item_category': 'INSERT_ITEM_CATEGORY',
        'uuid_c1': 'INSERT_UUID_C1',
        'user_email': 'INSERT_USER_EMAIL',
        'user_phone_number': 'INSERT_USER_PHONE_NUMBER',
        'user_hashed_email': 'INSERT_USER_HASHED_EMAIL',
        'user_hashed_phone_number': 'INSERT_USER_HASHED_PHONE_NUMBER'
      });
    </script>
  
    <!-- Purchase Code -->
    <script type="load">
      snaptr('track', 'PURCHASE', {
        'price': INSERT_PRICE,
        'currency': 'INSERT_CURRENCY',
        'transaction_id': 'INSERT_TRANSACTION_ID',
        'item_ids': ['INSERT_ITEM_ID_1', 'INSERT_ITEM_ID_2'],
        'item_category': 'INSERT_ITEM_CATEGORY',
        'number_items': INSERT_NUMBER_ITEMS,
        'uuid_c1': 'INSERT_UUID_C1',
        'user_email': 'INSERT_USER_EMAIL',
        'user_phone_number': 'INSERT_USER_PHONE_NUMBER',
        'user_hashed_email': 'INSERT_USER_HASHED_EMAIL',
        'user_hashed_phone_number': 'INSERT_USER_HASHED_PHONE_NUMBER'
      });
    </script>   
          <!-- Google Tag Manager --> 
  {% endcomment %}
  <script type="load">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
  
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
  
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
  
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
  
  })(window,document,'script','dataLayer','GTM-TFD8QGM');</script> 
  
  <!-- End Google Tag Manager --> 
           <!-- Begin Simpl Checkout   -->
     <!-- {% render 'simpl-checkout-script' %} -->
   <!-- End Simpl Checkout -->
  
  <!-- Google tag (gtag.js) -->
  <script type="load" d-src="https://www.googletagmanager.com/gtag/js?id=AW-652252230"></script>
  <script type="load">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
   
    gtag('config', 'AW-652252230');
  </script>
  {% render 'app-block' %}
  {% render 'custom-css' %}
  </head>
      
        <body class="template-{{ template.name }}" data-instant-allow-query-string {% if settings.reduce_animations %}data-reduce-animations{% endif %}>
  
          <div id="google_translate_element"></div>
    
          <div style="--background-color: {{ settings.color_background }}">
            {% 
              render 'age-gate', 
              id: 'page', 
              sections: content_for_layout,
            %}
          </div>
      
          <script>
            document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
            if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
            if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
          </script>
      
          {% comment %}Inject icon-star-symbol begin{% endcomment %}
          <svg
            class="icon-star-reference"
            aria-hidden="true"
            focusable="false"
            role="presentation"
            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="3 3 17 17" fill="none"
          >
            <symbol id="icon-star">
              <rect class="icon-star-background" width="20" height="20" fill="currentColor"/>
              <path d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
            </symbol>
            <clipPath id="icon-star-clip">
              <path d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </clipPath>
          </svg>
          {% comment %}Inject icon-star-symbol end{% endcomment %}
      
      
          <a class="skip-to-main" href="#site-main">{{ 'general.accessibility.skip_to_content' | t }}</a>
      
          {% section 'static-announcement' %}
      
          {% section 'static-utility-bar' %}
      
          <header
            class="site-header site-header-nav--open"
            role="banner"
            data-site-header
          >
            {% section 'static-header' %}
    <!--  Added by team searchtap    -->
    {% render 'st-searchbox-mobile' %}
          </header>
               {% endif %}
          <div class="intersection-target" data-header-intersection-target></div>
          <div class="site-main-dimmer" data-site-main-dimmer></div>
          <main id="site-main" class="site-main" aria-label="Main content" tabindex="-1">
            {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
              {{ content_for_layout }}
            {%- else -%}
              {% capture content_for_layout2 %}{{ content_for_layout }}{% endcapture %}
              {{ content_for_layout2 | replace: '<img src="https', '<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="https' | replace: '<img src="//', '<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="//' }}
            {%- endif -%}	
          </main>
      {% if handle != 'authenticator' %}
          {% section 'static-footer' %}
      
          {% comment %}
            Below are various templates used in JavaScript
          {% endcomment %}
          <div style="display: none;" aria-hidden="true" data-templates>
            {% comment %}Inject message-banner begin{% endcomment %}
            <div
              class="message-banner--container"
              role="alert"
              data-message-banner
            >
              <div class="message-banner--outer">
                <div class="message-banner--inner" data-message-banner-content></div>
            
                <button
                  class="message-banner--close"
                  type="button"
                  aria-label="{{ 'general.accessibility.close' | t }}"
                  data-message-banner-close
                >
                  {%- render 'icon-menu-close' -%}
                </button>
              </div>
            </div>
            {% comment %}Inject message-banner end{% endcomment %}
      
            {% comment %}Inject atc-banner begin{% endcomment %}
            <section class="atc-banner--container" role="log" data-atc-banner>
              <div class="atc-banner--outer">
                <div class="atc-banner--inner">
                  <div class="atc-banner--product">
                    <h2 class="atc-banner--product-title">
                      <span class="atc-banner--product-title--icon">
                        {%
                          render 'icon-library',
                          id: 'icon-checkmark',
                        %}
                      </span>
                      {{ 'add_to_cart_banner.general.product_added' | t }}
                    </h2>
            
                    <div class="atc--product">
                      <div class="atc--product-image" data-atc-banner-product-image>
                        {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
                      </div>
                      <div class="atc--product-details">
                        <h2 class="atc--product-details--title" data-atc-banner-product-title></h2>
                        <span class="atc--product-details--options" data-atc-banner-product-options></span>
                        <span class="atc--product-details--price">
                          <span class="atc--product-details--price-quantity" data-atc-banner-product-price-quantity></span>
                          <span class="atc--product-details--price-value money" data-atc-banner-product-price-value></span>
                          <span class="atc--product-details--price-discounted money" data-atc-banner-product-price-discounted></span>
                          <span class="atc--product-details--unit-price hidden" data-atc-banner-unit-price>
                            {{ 'product.general.price_per_unit_html' | t: total_quantity: '** total_quantity **', unit_price: '** unit_price **', unit_measure: '** unit_measure **' }}
                          </span>
                        </span>
                        <ul class="discount-list" data-atc-banner-product-discounts>
                          <li class="discount-list-item">
                            {% render 'icon-library', id: 'icon-sale-tag' %}
                            <span class="discount-title"></span>
                            (-<span class="money discount-amount"></span>)
                          </li>
                        </ul>
                        <span class="atc--line-item-subscriptions" data-atc-banner-product-subscription-title></span>
                      </div>
                    </div>
                  </div>
            
                  <div class="atc-banner--cart">
                    <div class="atc-banner--cart-subtotal">
                      <span class="atc-subtotal--label">
                        {{ 'add_to_cart_banner.general.sub_total' | t }}
                      </span>
                      <span class="atc-subtotal--price money" data-atc-banner-cart-subtotal></span>
                    </div>
            
                    <footer class="atc-banner--cart-footer">
                      <a class="button-secondary atc-button--viewcart" href="{{ routes.cart_url }}" data-atc-banner-cart-button>
                        {{ 'add_to_cart_banner.general.view_cart_html' | t: count: '<span></span>' }}
                      </a>
                      <form
                        action="{{ routes.cart_url }}"
                        method="post"
                        aria-label="cart checkout"
                      >
                        <button class="button-primary atc-button--checkout" type="submit" name="checkout">
                          {% if settings.enable_checkout_lock_icon %}
                            {% render 'icon-checkout-lock' %}
                          {% endif %}
                          <span>{{ 'add_to_cart_banner.general.checkout' | t }}</span>
                        </button>
                      </form>
                    </footer>
                  </div>
                </div>
            
                <button
                  class="atc-banner--close"
                  type="button"
                  aria-label="{{ 'general.accessibility.close' | t }}"
                  data-atc-banner-close
                >
                  {%- render 'icon-menu-close' -%}
                </button>
              </div>
            </section>
            {% comment %}Inject atc-banner end{% endcomment %}
      
          </div>
      
          {% comment %}
            Modal container, used on Collections, Password, and QuickShop
          {% endcomment %}
          {% comment %}Inject modal begin{% endcomment %}
          <div class="modal" data-modal-container aria-label="modal window" data-trap-focus>
            <div class="modal-inner" data-modal-inner>
              <button
                class="modal-close"
                type="button"
                aria-label="{{ 'general.accessibility.close' | t }}"
                data-modal-close
              >
                {% render 'icon-menu-close' %}
              </button>
              <div class="modal-content" data-modal-content></div>
            </div>
          </div>
          
          <div class="modal-1" data-modal-container-1 aria-label="modal window">
            <div class="modal-inner" data-modal-inner>
              <button
                class="modal-close"
                type="button"
                aria-label="{{ 'general.accessibility.close' | t }}"
                data-modal-1-close
              >
                {% render 'icon-menu-close' %}
              </button>
              <div class="modal-content" data-modal-content></div>
            </div>
          </div>
          {% comment %}Inject modal end{% endcomment %}
      
      
          {% comment %}
            This is the PhotoSwipe dialog which needs to be in the base page
          {% endcomment %}
          {% comment %}Inject product-gallery-zoom begin{% endcomment %}
          {% comment %} Root element of PhotoSwipe. Must have class pswp. {% endcomment %}
          <div
            class="pswp"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
            aria-label="{{ 'general.accessibility.product_zoom_dialog' | t }}"
            data-photoswipe
          >
          
            {% comment %} Background of PhotoSwipe.
                  It's a separate element as animating opacity is faster than rgba(). {% endcomment %}
            <div class="pswp__bg"></div>
          
            {% comment %} Slides wrapper with overflow:hidden. {% endcomment %}
            <div class="pswp__scroll-wrap">
                {% comment %} Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. {% endcomment %}
                <div class="pswp__container" aria-hidden="true">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
          
                {% comment %} Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. {% endcomment %}
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        {% comment %}  Controls are self-explanatory. Order can be changed. {% endcomment %}
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="{{ 'general.accessibility.close' | t }}">
                          <span tabindex="-1">
                            {% render 'icon-library', id: 'icon-close' %}
                          </span>
                        </button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          
                        {% comment %} Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR {% endcomment %}
                        {% comment %} element will get class pswp__preloader--active when preloader is running {% endcomment %}
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>
          
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
          
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
          
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
            <div class="product-zoom--thumbnails" data-photoswipe-thumbs>
              <button
                class="gallery-navigation--scroll-button scroll-left"
                aria-label="Scroll thumbnails left"
                data-gallery-scroll-button
              >
                {% render 'icon-chevron-down' %}
              </button>
              <button
                class="gallery-navigation--scroll-button scroll-right"
                aria-label="Scroll thumbnails right"
                data-gallery-scroll-button
              >
                {% render 'icon-chevron-down' %}
              </button>
              <div class="product-zoom--thumb-scroller" data-photoswipe-thumb-scroller></div>
            </div>
          </div>
          {% comment %}Inject product-gallery-zoom end{% endcomment %}
      
      
          {% comment %}
            Product compare drawer, shown when products are compared
          {% endcomment %}
          {% comment %}Inject template-allows-compare begin{% endcomment %}
          {% assign template_allows_compare = settings.enable_product_compare %}
          {% if template.name == 'cart' %}
            {% assign template_allows_compare = false %}
          {% elsif template.name == 'product' and template.suffix contains 'compare' %}
            {% assign template_allows_compare = false %}
          {% endif %}
          {% comment %}Inject template-allows-compare end{% endcomment %}
      
          {% if template_allows_compare %}
            {% comment %}Inject product-compare-drawer begin{% endcomment %}
            <div class="product-compare-drawer" data-product-compare-drawer>
              <div class="product-compare-drawer__header" data-product-compare-drawer-header>
                <h2 class="product-compare-drawer__title" data-product-compare-drawer-title>
                  {{ 'product_compare.drawer_title' | t }}
                </h2>
            
                <p
                  class="product-compare-drawer__notification"
                  data-product-count-one="{{ 'product_compare.drawer_notification.one' | t }}"
                  data-product-count-other="{{ 'product_compare.drawer_notification.other' | t: count: '** count **' }}"
                  data-product-compare-drawer-notification
                >
                  {{ 'product_compare.drawer_notification' | t: count }}
                </p>
            
                <span class="product-compare-drawer__trigger">
                  {% render 'icon-chevron-down' %}
                </span>
              </div>
            
              <div class="product-compare-drawer__container">
                <div class="product-compare-drawer__items" data-compare-drawer-items-container>
                  <template data-product-compare-drawer-item-template>
                    <div
                      class="
                        product-compare-drawer__item
                        imagestyle--{% if settings.product_grid_image_crop and settings.product_grid_image_style != 'natural' %}cropped-{% endif %}{{ settings.product_grid_image_style }}
                      "
                    >
                      <div class="product-compare-drawer__image">
                        <figure class="productitem--image" data-product-compare-drawer-image></figure>
                      </div>
                      <a class="product-compare-drawer__item-title" data-product-compare-drawer-title></a>
                      <button class="product-compare-drawer__remove" data-product-compare-drawer-remove>
                        {%
                          render 'icon-library',
                          id: 'icon-remove',
                          icon_class: 'product-compare-drawer__remove-icon',
                        %}
                      </button>
                    </div>
                  </template>
            
                  {% for i in (1..3) %}
                    <div class="product-compare-drawer__item-placeholder" data-product-compare-drawer-item-placeholder>
                      <p class="product-compare-drawer__item-placeholder-text">
                        {% if forloop.index == 1 %}
                          {{ 'product_compare.drawer_notification_placeholder.first' | t }}
                        {% elsif forloop.index == 2 %}
                          {{ 'product_compare.drawer_notification_placeholder.second' | t }}
                        {% elsif forloop.index == 3 %}
                          {{ 'product_compare.drawer_notification_placeholder.third' | t }}
                        {% endif %}
                      </p>
                    </div>
                  {% endfor %}
                </div>
            
                <div class="product-compare-drawer__actions">
                  <a
                    class="
                      product-compare-drawer__link
                      button-primary
                      disabled
                    "
                    href="{{ routes.root_url }}"
                    data-product-compare-drawer-link
                    data-product-compare-drawer-link-text="{{ 'product_compare.compare' | t }}"
                  >
                    {{ 'product_compare.compare' | t }}
                  </a>
            
                  <button class="product-compare-drawer__clear-all" data-product-compare-clear-all>
                    {{ 'product_compare.drawer_clear_all' | t }}
                  </button>
                </div>
              </div>
            </div>
            {% comment %}Inject product-compare-drawer end{% endcomment %}
      
          {% endif %}
      
          {% if settings.enable_product_compare %}
            {% comment %}Inject product-compare-breadcrumb-data begin{% endcomment %}
            {% assign compare_breadcrumb_title = nil %}
            
            {% case request.page_type %}
              {% when 'product' %}
                {% assign compare_breadcrumb_title = product.title %}
              {% when 'collection' %}
                {% assign compare_breadcrumb_title = collection.title %}
              {% when 'index' %}
                {% assign compare_breadcrumb_title = 'general.breadcrumbs.home' | t %}
              {% when 'search' %}
                {% assign compare_breadcrumb_title = 'general.accessibility.search' | t %}
            {% endcase %}
            
            {% assign compare_breadcrumb_update = true %}
            
            {% if template.name == 'product' and template.suffix contains 'compare' %}
              {% assign compare_breadcrumb_update = false %}
            {% endif %}
  
  
  
                    
                            
                <script>
  
                   $('.readmore').click(function (event) {
                    event.preventDefault();
                    var descriptionFull = document.querySelector('.product-description-full');
                    descriptionFull.style.display = 'block';
                    var descriptionShort = document.querySelector('.product-description-short');
                    descriptionShort.style.display = 'none';
                    });
                    $('.readless').click(function (event) {
                    event.preventDefault();
                    var descriptionFull = document.querySelector('.product-description-full');
                    descriptionFull.style.display = 'none';
                    var descriptionShort = document.querySelector('.product-description-short');
                    descriptionShort.style.display = 'block';window.scrollTo({bottom: 1000, behavior: 'smooth'});
                  })
                </script>
            
            <script type="application/json" data-product-compare-breadcrumb-data>
              {
                "title": {{ compare_breadcrumb_title | json }},
                "update": {{ compare_breadcrumb_update }}
              }
            </script>
            {% comment %}Inject product-compare-breadcrumb-data end{% endcomment %}
      
          {% endif %}
      
          {%- if template contains 'customer' -%}
            {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
            {{ 'customer_area.js' | shopify_asset_url | script_tag }}
          {%- endif -%}
      
          {% unless settings.reduce_animations %}
            <script type="load">
              (
                function () {
                  var classes = {
                    block: 'pxu-lia-block',
                    element: 'pxu-lia-element',
                  };
      
                  document
                    .querySelectorAll('[type="application/pxs-animation-mapping+json"]')
                    .forEach(function (mappingEl) {
                      const section = mappingEl.parentNode;
                      try {
                        const mapping = JSON.parse(mappingEl.innerHTML);
                        mapping.elements.forEach(function (elementSelector) {
                          section
                            .querySelectorAll(elementSelector)
                            .forEach(function (element) { element.classList.add(classes.element); });
                        });
      
                        mapping.blocks.forEach(function (blockSelector) {
                          section
                            .querySelectorAll(blockSelector)
                            .forEach(function (block) { block.classList.add(classes.block); });
                        });
                      } catch (error) {
                        console.warn('Unable to parse animation mapping', mappingEl, error);
                      }
                  });
                }
              )()
            </script>
          {% endunless %}
      
                <script type="load">
      
      
      
      
      setTimeout(function(){
      
      $('button[data-testid="Checkout-button"]').text('Quick Buy');
      
      $('.shopify-payment-button__button').css('visibility', 'visible');
      
                console.log('button name changed');
      
      }, 5000);
      
      </script>
      <script>
      
      
      </script>
      
      
      
      
      
          <script {% unless template contains 'cart' %}type="load" d-{% endunless %}src="{{ 'empire.js' | asset_url }}"
            data-scripts
            data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
            data-shopify-countries="/services/javascripts/countries.js"
            data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
            data-shopify-cart="{{ 'jquery.cart.js' | asset_url }}"
            data-pxu-polyfills="{{ 'polyfills.min.js' | asset_url }}"
          >
          </script>
      
          {% render 'structured-data' %}
      
          <script type="load">
          (function () {
            function handleFirstTab(e) {
              if (e.keyCode === 9) { // the "I am a keyboard user" key
                document.body.classList.add('user-is-tabbing');
                window.removeEventListener('keydown', handleFirstTab);
              }
            }
            window.addEventListener('keydown', handleFirstTab);
          })();
      
            
      
      $.ajax({
      
            type: 'POST',
      
            url: 'https://makkpressapps.com/do_not_delete/fwdwishlist/get.php',
      
            data: {customer_id: '{{
            customer.id }}'},
      
            success: function(response){
      
              const productData = response;
      
             var wishlist_count = productData.length;
      
              if(wishlist_count > 0){
      
                $('#wishlist_counter').html(wishlist_count);
              }
              }
      
            });
      
      //       $('.close-list-n').on('click', function(){
      
      
      //         var wish_count = parseInt($('#wishlist_counter').text());
      
      // wish_count--;
      
      //   if(wish_count != 0){
      //     $('#wishlist_counter').text(wish_count);
      //   }
      //   else{
      
      //     $('#wishlist_counter').text('');
      //   }
      
      
              
      //       });
           
          </script>
          <script type="load">
            $('.readmore').click(function (event) {
              event.preventDefault();
              var descriptionFull = document.querySelector('.product-description-full');
              descriptionFull.style.display = 'block';
              var descriptionShort = document.querySelector('.product-description-short');
              descriptionShort.style.display = 'none';
              });
              $('.readless').click(function (event) {
              event.preventDefault();
              var descriptionFull = document.querySelector('.product-description-full');
              descriptionFull.style.display = 'none';
              var descriptionShort = document.querySelector('.product-description-short');
              descriptionShort.style.display = 'block';window.scrollTo({bottom: 1000, behavior: 'smooth'});
            })
        </script>
        <script type="load">
        $(".accordian-heading").click(function(){
              $('.accnav-li').removeClass("active");
              $(this).parent(".accnav-li").toggleClass("active");
          });
      </script>
    
      {% if template contains 'product' %}
        <script type="load">
          $( document ).ready(function() {
              if($( window ).width() > 800 ){
                  $('html').css('scroll-padding-block-start', '28%')
               } else {
                 $('html').css('scroll-padding-block-start', '18%')
               }    
          });      
           
        </script>
    
              <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    var tabPos = document.querySelector('header').clientHeight;
  
                    console.log(`The Header Height is ${tabPos}px`);
                    
                    var announcement = document.querySelector("#shopify-section-static-announcement").clientHeight;
  
                    var actualHeight = tabPos - announcement;
  
                    document.querySelector("#stickyNavTabs").style.top = `${actualHeight - 30}px`;
  
                     if(window.innerWidth < 1024){
                      document.querySelector("#stickyNavTabs").style.top = `${tabPos}px`;
                     }
                    
                  })
               </script>
    
        <script type="load">
  
          document.addEventListener("DOMContentLoaded", () => {
                const tab = document.querySelectorAll(".spa-slide");
                const slideBar = document.querySelectorAll('.sticky-nav-tab');
                
                const observer = new IntersectionObserver(
                  (entries) => {
                    entries.forEach((entry) => {
                      if (entry.isIntersecting) {
                        entry.target.classList.add("animate");
                        if(entry.target.getAttribute('id') === 'discription'){
                          var x = document.querySelectorAll('.sticky-nav-tab')
                          for (let i = 0; i < x.length; i++) {
                              if(x[i].getAttribute('href') === '#discription' && window.innerWidth > 767) {
                                document.querySelector('.sticky-nav-tab-slider').style.width = `${x[i].clientWidth}px`
                                document.querySelector('.sticky-nav-tab-slider').style.left = 0;
                              } 
                              // else if (x[i].getAttribute('href') === '#discription' && window.innerWidth < 767) {
                              //   for(let j = 0; j < x.length; j++) {
                              //     x[j].style.borderBottom = '0px solid #2eb4ac';
                              //   }
                              //   x[i].style.borderBottom = '4px solid #2eb4ac';
                              // }
                          }
                        } else if(entry.target.getAttribute('id') === 'tab1'){
                          var x = document.querySelectorAll('.sticky-nav-tab')
                          for (let i = 0; i < x.length; i++) {
                              if(x[i].getAttribute('href') === '#tab1' && window.innerWidth > 767) {
                                document.querySelector('.sticky-nav-tab-slider').style.width = `${x[i].clientWidth}px`
                                document.querySelector('.sticky-nav-tab-slider').style.left = `${x[i].clientWidth}px`;
                              } 
                              // else if (x[i].getAttribute('href') === '#tab1' && window.innerWidth < 767) {
                              //   for(let j = 0; j < x.length; j++) {
                              //     x[j].style.borderBottom = '0px solid #2eb4ac';
                              //   }
                              //   x[i].style.borderBottom = '4px solid #2eb4ac';
                              // }
                          }
                        } else if(entry.target.getAttribute('id') === 'tab2'){
                          var x = document.querySelectorAll('.sticky-nav-tab')
                          for (let i = 0; i < x.length; i++) {
                              if(x[i].getAttribute('href') === '#tab2' && window.innerWidth > 767) {
                                document.querySelector('.sticky-nav-tab-slider').style.width = `${x[i].clientWidth}px`
                                document.querySelector('.sticky-nav-tab-slider').style.left = `${x[i].clientWidth * 2}px`;
                              } 
                              // else if (x[i].getAttribute('href') === '#tab2' && window.innerWidth < 767) {
                              //   for(let j = 0; j < x.length; j++) {
                              //     x[j].style.borderBottom = '0px solid #2eb4ac';
                              //   }
                              //   x[i].style.borderBottom = '4px solid #2eb4ac';
                              // }
                          }
                        } else if(entry.target.getAttribute('id') === 'tab3'){
                          var x = document.querySelectorAll('.sticky-nav-tab')
                          for (let i = 0; i < x.length; i++) {
                              if(x[i].getAttribute('href') === '#tab3' && window.innerWidth > 767) {
                                document.querySelector('.sticky-nav-tab-slider').style.width = `${x[i].clientWidth}px`
                                document.querySelector('.sticky-nav-tab-slider').style.left = `${x[i].clientWidth * 3}px`;
                              } 
                              // else if (x[i].getAttribute('href') === '#tab3' && window.innerWidth < 767) {
                              //   for(let j = 0; j < x.length; j++) {
                              //     x[j].style.borderBottom = '0px solid #2eb4ac';
                              //   }
                              //   x[i].style.borderBottom = '4px solid #2eb4ac';
                              // }
                          }
                        } 
                        
                      } else {
                        entry.target.classList.remove("animate");
                      }
                    });
                  },
                  {
                    threshold: 0.5
                  }
                );
                
                tab.forEach((el, i) => {
                  observer.observe(el);
                });
  
           });
  
          document.addEventListener("DOMContentLoaded", () => {
            if(window.innerWidth < 768){
              // $('.sticky-nav-tabs-container').css('width', window.innerWidth - 50 )
              
              var bottomOne = $('#discription').offset().top;
              $(window).scroll(function () {
                  if ($(this).scrollTop() > bottomOne) {
                      $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(1)').addClass('shrink');
                      // document.querySelector('.sticky-nav-tabs-container').scrollLeft  += 100;
                  }
                  else {
                      $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(1)').removeClass('shrink');
                    // document.querySelector('.sticky-nav-tabs-container').scrollLeft  -= 100;
                  }
              });
              var bottomTwo = $('#tab1').offset().top;
              $(window).scroll(function () {
                  if ($(this).scrollTop() > bottomTwo) {
                       $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(1)').removeClass('shrink');
                      $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(2)').addClass('shrink');
                    document.querySelector('.sticky-nav-tabs-container').scrollLeft  = 100;
                  }
                  else {
                      $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(2)').removeClass('shrink');
                    document.querySelector('.sticky-nav-tabs-container').scrollLeft =  -200;
                  }
              });
          
              var bottomThree = $('#tab2').offset().top;
              $(window).scroll(function () {
                  if ($(this).scrollTop() > bottomThree) {
                       // $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(1)').removeClass('shrink');
                       $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(2)').removeClass('shrink');
                      $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(3)').addClass('shrink');
                    document.querySelector('.sticky-nav-tabs-container').scrollLeft  += 150;
                  }
                  else {
                      $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(3)').removeClass('shrink');
                    document.querySelector('.sticky-nav-tabs-container').scrollLeft  -= 150;
                  }
              });
          
              var bottomFour = $('#tab3').offset().top;
              $(window).scroll(function () {
                  if ($(this).scrollTop() > bottomFour) {
                       // $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(1)').removeClass('shrink');
                       // $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(2)').removeClass('shrink');
                       $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(3)').removeClass('shrink');
                      $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(4)').addClass('shrink');
                    $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(4)').scroll('shrink');
                  }
                  else {
                      $('.sticky-nav-tabs-container .sticky-nav-tab:nth-child(4)').removeClass('shrink');
                  }
              });
        }
    
     });
          
          // document.addEventListener("DOMContentLoaded", () => {
          //   if( window.innerWidth < 767 ){
          //       var allNabTab = document.querySelectorAll('.sticky-nav-tab');
          //       for (let i = 0; i < allNabTab.length; i++) {
          //           allNabTab[i].addEventListener('click', () => {
          //               for (let j = 0; j < allNabTab.length; j++) {
          //                 if(allNabTab[j].classList.contain('shrink')){
          //                    allNabTab[j].style.borderBottom = '0px solid #2eb4ac';
          //                 }   
          //               }
          //               allNabTab[i].style.borderBottom = '4px solid #2eb4ac';
          //               document.querySelector('.sticky-nav-tabs-container').scrollLeft  += 100;
          //           })
          //       }
          //   }
          // });
  
          
  
  
             
          
    
          
        </script>
  
  
                            
    
    
      {% endif %}
    
      
        
      {% comment %} Product Tabber JS Starts Here {% endcomment %}
      
      <script>
      {% comment %} Scroll into View JS {% endcomment %}
      
      // for (let i in cardobj) {
      
      // document.getElementById(cardobj[i].card).addEventListener("click",function () {
        // var card = document.getElementById(cardobj[i].card);
        // var featurecardmain =  document.getElementById(cardobj[i].feature);
        // const offset = totalheight ;
        // console.log(`The offset of the Tabber is: ${offset}`);
        // Get the target element's position relative to the viewport
        // const boundingRect = featurecardmain.getBoundingClientRect();
      
        // Calculate the Y coordinate to scroll to, with the offset
        // const scrollToY = window.pageYOffset + boundingRect.top - offset;
      
        // Scroll to the element with the offset
        // window.scrollTo({
        //  top: scrollToY,
        //  behavior: 'smooth' // You can change this to 'auto' for instant scrolling
        // });
    
        
        {% comment %} featurecardmain.scrollIntoView({ block: 'start',  behavior: 'smooth' }); {% endcomment %}
        // });
    
    
    
      {% comment %} document.addEventListener('scroll', function () {
        var featurecardmainbox =  document.getElementById(cardobj[i].feature);
        const messageText = isInViewport(featurecardmainbox) ?
            'The box is visible in the viewport' :
            'The box is not visible in the viewport';
    
        console.log("Aakash MakkPress");
        console.log(">>>>>>>>>>>>");
        console.log(messageText);
    
    }, {
        passive: true
    }); {% endcomment %}
      
     // }
      </script>
      {% comment %} Product Tabber JS Ends Here {% endcomment %}
      {% comment %} <script>
        {% comment %} var header = document.getElementById("myDIV"); {% endcomment %}
        var btns = document.getElementsByClassName("sticky-nav-tab");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("activetab");
          current[0].className = current[0].className.replace(" activetab", "");
          this.className += " activetab";
          });
        }
      </script> {% endcomment %}
      {% comment %} Product Tabber Line Starts Here {% endcomment %}
    
      
      {% comment %} Product Tabber Line Ends Here {% endcomment %}
      
      <script type="load">
      
      
        {% comment %} class StickyNavigation {
        
        constructor() {
          this.currentId = null;
          this.currentTab = null;
          this.tabContainerHeight = 80;
          this.lastScroll = 0;
          let self = this;
          $('.sticky-nav-tab').click(function() { 
            self.onTabClick(event, $(this)); 
          });
          $(window).scroll(() => { this.onScroll(); });
          $(window).resize(() => { this.onResize(); });
        }
        
        onTabClick(event, element) {
          event.preventDefault();
          let scrollTop = $(element.attr('href')).offset().top - this.tabContainerHeight;
          $('html, body').animate({ scrollTop: scrollTop }, 600);
        }
        
        onScroll() {
          this.checkHeaderPosition();
          this.findCurrentTabSelector();
          this.lastScroll = $(window).scrollTop();
        }
        
        onResize() {
          if(this.currentId) {
            this.setSliderCss();
          }
        }
        
        checkHeaderPosition() {
          const headerHeight = 125;
          if($(window).scrollTop() > headerHeight) {
            $('.spa-header').addClass('spa-header--scrolled');
          } else {
            $('.spa-header').removeClass('spa-header--scrolled');
          }
          let offset = ($('.sticky-nav-tabs').offset().top + $('.sticky-nav-tabs').height() - this.tabContainerHeight) - headerHeight;
          if($(window).scrollTop() > this.lastScroll && $(window).scrollTop() > offset) {
            $('.spa-header').addClass('spa-header--move-up');
            $('.sticky-nav-tabs-container').removeClass('sticky-nav-tabs-container--top-first');
            $('.sticky-nav-tabs-container').addClass('sticky-nav-tabs-container--top-second');
          } 
          else if($(window).scrollTop() < this.lastScroll && $(window).scrollTop() > offset) {
            $('.spa-header').removeClass('spa-header--move-up');
            $('.sticky-nav-tabs-container').removeClass('sticky-nav-tabs-container--top-second');
            $('.sticky-nav-tabs-container').addClass('sticky-nav-tabs-container--top-first');
          }
          else {
            $('.spa-header').removeClass('spa-header--move-up');
            $('.sticky-nav-tabs-container').removeClass('sticky-nav-tabs-container--top-first');
            $('.sticky-nav-tabs-container').removeClass('sticky-nav-tabs-container--top-second');
          }
        }
        
        findCurrentTabSelector(element) {
          let newCurrentId;
          let newCurrentTab;
          let self = this;
          $('.sticky-nav-tab').each(function() {
            let id = $(this).attr('href');
            // console.log("---------------------------------------------")
            // console.log(self.tabContainerHeight)
            let offsetTop = $(id).offset().top - self.tabContainerHeight - 125;
            let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight - 120;
            if($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
              newCurrentId = id;
              newCurrentTab = $(this);
            }
          });
          if(this.currentId != newCurrentId || this.currentId === null) {
            this.currentId = newCurrentId;
            this.currentTab = newCurrentTab;
            this.setSliderCss();
          }
        }
        
        setSliderCss() {
          let width = 0;
          let left ;
          if(this.currentTab) {
            width = this.currentTab.css('width');
            left = this.currentTab[0].offsetLeft;
            // console.log(left)
            // console.log(this.currentTab)
            // console.log('--------------------------------------------------------')      
            // console.log(width)
          }
          $('.sticky-nav-tab-slider').css('width', width);
          $('.sticky-nav-tab-slider').css('left', left);
        }
        
      }
      
      new StickyNavigation(); {% endcomment %}
      
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      
      
      </script>
      
          {% unless settings.reduce_animations %}
            {{ 'ripple.css' | asset_url | stylesheet_tag }}
          {% endunless %}
          
          <script type="load" d-src="{{ 'instantPage.min.js' | asset_url }}" dxt="module"> </script>
      
       {% comment %}             
         {% include 'globo.filter.action' %}
       {% endcomment %} 
          <!-- Google Tag Manager (noscript) --> 
  
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFD8QGM" 
  
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
  
  <!-- End Google Tag Manager (noscript) --> 
  
   
        {% render 'thunder-preload' %}
      
        <script type="load">
          $( document ).ready(function() {
            if ($(window).width() < 1025) {
              var details = document.querySelectorAll('details');
              for(let i = 0; i < details.length; i++){
                  var y = details[i].children;
                  for (let j = 0; j < y.length; j++) {
                      var childElement = y[j];
                      // console.log(childElement);
                    if(childElement.classList.contains('navmenu-submenu')){
                      details[i].classList.add('arrowed__menu');
                    }
                  }        
              }
              for(let k = 0; k < details.length; k++){
                var navMenu = details[k].children;
                console.log(navMenu);
              }
            }
          })
        </script>
        
        <script type="load">
        $( document ).ready(function() {
            if ($(window).width() < 1025) {
              var x= $('.navmenu-depth-2').find('li');
              var y = x.find('details');
              var y2 = y.find('summary');
              for (let i = 0; i < y2.length; i++) {
                y2[i].addEventListener('click', () => {
                        for (let j = 0; j < y.length; j++) {
                            y[j].removeAttribute('open');
                        }
                        // y[i].setAttribute('opne','true');
                        
                    })
                }
      
              // var x = document.querySelectorAll('.mobile-nav-content > .navmenu > li.navmenu-item > details')
              // for (let j = 0; j < x.length; j++) {
              //   var y = x[j].querySelector('.navmenu-submenu ');
              //   var z = y.querySelector('details');
              //   var k = z.querySelector('summary')
              //   x[j].addEventListener('click', () => {
              //     z.setAttribute('open', 'true');
              //     k.click(); 
              //   })
              // }
          
      document.querySelectorAll('.site-mobile-nav summary.navmenu-link-depth-1').forEach(function(summary) {
          summary.addEventListener('click', function() {
              const parentUl = summary.closest('ul.navmenu-depth-1');
              const ulDepth2 = parentUl.querySelector('ul.navmenu-depth-2');
              const detailsElements = ulDepth2.querySelectorAll('li details');
      
              detailsElements.forEach(function(details, i) {
                if(i === 0) {
                  details.setAttribute('open', 'true');
                }            
              });
      
              const summaryElements = ulDepth2.querySelectorAll('li details summary');
      
              summaryElements.forEach(function(summary, i) {
                if(i === 0) {
                 summary.click(); 
                }
              });
          });
      });
      
      
      
        
              // $('summary.navmenu-link-depth-1').click(function(){
              //     $('ul.navmenu-depth-2').find('li details').attr('open', 'true');
              //     $('ul.navmenu-depth-2').find('li details summary').click()
              // })        
            }
        });
      
        
         //santosh 
      
      // $(document).ready(function() {
      
      //   // Function to update the secondary input value based on the primary input
      //   function updateSecondaryInputValue(primaryInput, secondaryInput) {
      //     secondaryInput.val(primaryInput.val());
      //   }
      
      //   // Check if the URL contains 'cart' and exit if true
      //   // if (window.location.href.includes('cart')) {
      //   //   return;
      //   // }
      
      //   // Declare variables using const
      //   const primaryInput1 = $(".quantity-box .quantity-input");
      //   const secondaryInput1 = $(".quantity-selector__input");
      //   const plusButton1 = $(".quantity-plus");
      //   const minusButton1 = $(".quantity-minus");
      
      //   // Event listener for change and input events on primaryInput1 (product quantity)
      //   primaryInput1.on("change input", function() {
      //     updateSecondaryInputValue(primaryInput1, secondaryInput1);
      //   });
      
      //   // Event listener for change event on quantity-selector__input
      //   secondaryInput1.on("change", function() {
      //     updateSecondaryInputValue(secondaryInput1, primaryInput1);
      //   });
      
      //   // Event listener for plus button click
      //   plusButton1.click(function() {
      //     primaryInput1.val(parseInt(primaryInput1.val()) + 1);
      //     updateSecondaryInputValue(primaryInput1, secondaryInput1);
      //   });
      
      //   // Event listener for minus button click
      //   minusButton1.click(function() {
      //     const currentValue = parseInt(primaryInput1.val());
      //     if (currentValue > 1) {
      //       primaryInput1.val(currentValue - 1);
      //       updateSecondaryInputValue(primaryInput1, secondaryInput1);
      //     }
      //   });
      
      //   // Initialize the secondary input value
      //   updateSecondaryInputValue(primaryInput1, secondaryInput1);
      // });
      
      
       
        // Get references to the input fields
        var quantitySelectorInput = $(".quantity-selector__input");
        var quantityInput = $(".quantity-input");
      
        // Function to update the values
        function updateValues() {
          
          const inputValue = quantityInput.val();
          console.log("Input Value:", inputValue);
      
          quantityInput.val(inputValue);
      
          console.log("Updated Value:", inputValue);
          
        }
      
          
           function updateValues2(inputvalue) {
          
          
      
      
          quantityInput.val(inputvalue);
      
        
          
        }
      
       
      
        // Add a timeout to update the values after 2 seconds
        setTimeout(function() {
          updateValues();
        }, 1000);
      
      
         $(".quantity-selector__button--minus").click(function() {
        console.log("Minus button clicked");
             const inputValue = $(".quantity-selector__input").val();
        
        // Log the input value to the console
        console.log("Quantity Selector Input Value: " + inputValue);
             inputValue = inputValue +1;
             
           setTimeout(function() {
          updateValues2(inputValue);
        }, 1000);
       
      });
      //      $(".quantity-selector__button--plus").click(function() {
             
      //   console.log("plus button clicked");
             
      //          const inputValue = $(".quantity-selector__input").val();
        
      //   // Log the input value to the console
      //   console.log("Quantity Selector Input Value: " + inputValue);
      //        inputValue = inputValue +1;
             
      //      setTimeout(function() {
      //     updateValues2(inputValue);
      //   }, 1000);
       
      // });
        
          // // My Code Abhishek to Add to cart on wishlist 
      
          
      // Function to add an item to the Shopify cart
      function AddToCartWishlist(element) {
         productQuantity = 1;
         productVariantId = element.getAttribute("var-id");
          // Define the Shopify Cart API URL
          var shopifyCartUrl = '/cart/add.js';
      
          // Create an object with the data to send (product variant ID and quantity)
          var cartData = {
              id: productVariantId,
              quantity: productQuantity
          };
      
          // Send the POST request to add the item to the cart
          $.ajax({
              type: 'POST',
              url: shopifyCartUrl,
              data: cartData,
              dataType: 'json',
              success: function(response) {
                  // Handle the success response here (e.g., update the cart widget)
                   fetch('/cart.js')
                  .then(response => response.json())
                  .then(cartData => {
                   var totalcount = cartData.item_count;
     
              $('.site-header-cart--count').attr('data-header-cart-count', totalcount);
        })
      
         $('.site-header-cart--count').addClass('visible');
                  console.log('Item added to cart:', response);
              },
              error: function(xhr, status, error) {
                  // Handle errors here (e.g., display an error message)
                  console.error('Error adding item to cart:', error);
              }
          });
      }
      // $('.AddToCartWishlist').on('click', function() {
      //  console.log('Hello Buddy')
      //     // Replace these values with the product variant ID and quantity you want to add
      //     var productVariantId = $(this).attr('var-id');
      //     var productQuantity = 1; 
          
      //     addToCart(productVariantId, productQuantity);
      // });
      
      // // My Code Abhishek to Add to cart on wishlist 
      
      
      // Code For Search Functionality 
      $('.live-search-filter').on('change', function() {
          // console.log('Category Changed')
          $('.live-search-button').click(function() {
           
           var selectedCat = $(".live-search-filter option:selected").text();
          // console.log(selectedCat);
      $('.form-field-input').val(selectedCat);
          $('.live-search-button').trigger('click');
      });
      });
      
      
         $(document).ready(function() {
          // Attach a click event handler to the minus button
          $(".quantity-minus").on("click", function() {
              var sourceValue = $(".quantity-selector__input").val();
      
              // Check if sourceValue is equal to 1
              if (parseInt(sourceValue) === 1) {
                  // Add the "quantity-selector__button-wrapper--disabled" class
                  $(".quantity-selector__button-wrapper.quantity-selector__button-wrapper--minus").addClass("quantity-selector__button-wrapper--disabled");
              }
      
              // Copy the sourceValue to all quantity-input elements
              $(".quantity-input").val(sourceValue);
          });
      
          // Attach a click event handler to the plus button
          $(".quantity-plus").on("click", function() {
              var sourceValue = $(".quantity-selector__input").val();
                 
              // Check if sourceValue is greater than 1
              if (parseInt(sourceValue) > 1) {
                  // Select the div with both classes and remove the "quantity-selector__button-wrapper--disabled" class
                  $(".quantity-selector__button-wrapper.quantity-selector__button-wrapper--minus").removeClass("quantity-selector__button-wrapper--disabled");
              }
      
              // Copy the sourceValue to all quantity-input elements
              $(".quantity-input").val(sourceValue);
          });
      
          // Attach a click event handler to the button with class "quantity-selector__button--minus"
          $(".quantity-selector__button--minus").on("click", function() {
           
              var sourceValue = $(".quantity-selector__input").val();
             sourceValue = sourceValue-1;
              $(".quantity-input").val(sourceValue);
          });
      
          // Attach a click event handler to the button with class "quantity-selector__button--plus"
         $(".quantity-selector__button--plus").on("click", function() {
          // Get the current value of the source input
          var sourceValue = parseInt($(".quantity-selector__input").val());
      
          // Add 1 to the source value
          var newValue = sourceValue + 1;
      
          // Update the value in the quantity input field
          $(".quantity-input").val(newValue);
      });
           
           
      });
      
      
      
        // My function for variant selection 
        
        
        //             function stickyBarUpdate() {
        //     // console.log('Hey buddy, I came !');
        //       console.log('You triggered the Devil !');
            
        //     $(document).ready(function () {
        //         const selectElement = $('#variant-selector');
        //         const selectedOption = $('#selectedOption');
        //         const priceElement = $('.price');
        //         var imageSrc = $(".product-sticky-image img").attr("src");
        
        //         selectElement.on('change', function () {
        //             const selectedOptionElement = selectElement.find('option:selected');
        //             const selectedValue = selectElement.val();
        //             const selectedText = selectElement.text();
        //             // console.log('Bye Test' + selectedText)
        //             selectedOption.text(`Selected Option: ${selectedValue}`);
                    
        //             // Set the attributes of the p tag to match the selected option's attributes
        //             selectedOption.attr('var-img', selectedOptionElement.attr('variant-img'));
        //             selectedOption.attr('data-comp-price', selectedOptionElement.attr('data-compare-price'));
        //             selectedOption.attr('sale-price', selectedOptionElement.attr('data-sale-price'));
                    
        //             var salePrice = $('#selectedOption').attr('sale-price');
        //             var imgSrc = $('#selectedOption').attr('var-img');
        
        //             $(".product-sticky-image img").attr("src", imgSrc);
        
        //             if (salePrice !== undefined) {
        //                 priceElement.html(salePrice);
        //             }
        //         });
        //     });
        // }
        
        
        //  setTimeout(function(){
        // stickyBarUpdate();
        // }, 1000)
      
      
         // Abhishek function for Btn functionality 
        function updateSecondButton() {
        // Check if the URL contains 'products'
        if (window.location.href.includes('products')) {
          var firstButtonText = $('#AddToCart').text().trim();
          var secondButtonText = $('#AddToCart_secondary').text().trim();
          if (secondButtonText !== firstButtonText) {
            $('#AddToCart_secondary').text(firstButtonText);
          }
        }
      }
      
      setTimeout(function(){
      updateSecondButton();
      }, 500)
      
      $(window).on('load', function() {
          updateSecondButton();
        });
      
    // Function to edit checkout page
    // function checkout_Fn(){
    // console.log('Hey Buddy, are you here !')
    //  var elements = document.querySelectorAll('._6zbcq53s._1fragemfe._1fragemfk._1fragemhd._1fragemfn');
    //  elements.forEach(function(element) {
    // element.style.maxWidth = '70%';
    // });
    // }
    
    // setTimeout(function(){
    // checkout_Fn();
    // }, 1000)
      
        </script>  
    
            </script>   
    
    <script type="text/javascript">
    // function googleTranslateElementInit() {
    //   new google.translate.TranslateElement({
    //     pageLanguage: 'en',
    //     includedLanguages: 'en,hi,gu,ta,te,kn,mr,bn,pa,ml,or,as,ne'
    //   }, 'google_translate_element');
    // }
    </script>
    <script type="load" d-src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
    
    
    <style>
      
    
      .goog-te-combo {
        
        vertical-align: baseline;
        background: aqua;
        
    }
    
    
    </style>        
        {% render 'foot-content' %}
        {% render 'footer-app-block' %}
  </body>      
      </html>
   {% endif %}